








<!-- ///////// FIRST ROW ////////// -->


<!-- ////////// SECOND ROW ////////// -->

  <div class="row">
    <div class="row">
        <span class="video-player">{{ember-youtube class="video-player" ytid=model.trailer}}</span>
    </div>
      <div class="col-md-9 col-xs-12">
      <div class="row">
        <h1>{{model.title}}</h1>

      </div>
      <div class="row">
        <div class="col-md-7">
          <h4><strong>Release Date:  {{model.date}}</strong></h4>

        </div>
        <div class="col-md-5 text-right">
          <h4> VOTES : {{model.vote}}</h4>

        </div>

      </div>
      <hr>
        <div class="row">
          <div class="col-md-12">
            {{model.overview}}

          </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12 poster-box">
      <img class='poster' src="https://image.tmdb.org/t/p/w185/{{model.image}}" alt="">
    </div>
  </div>

<!-- ////////// THIRD ROW ////////// -->
<div class="row add-row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4 col-xs-12 text-right padded">
  {{#link-to 'posts'}}  <span class="delete" {{action 'deletePost' model.id}}> <i class="fa fa-trash" aria-hidden="true"></i></span>{{/link-to}}
  </div>
</div>



{{outlet}}
