<div class="jumbotron">
  <h2>Add A Trailer</h2>
  
  <ul class="post-publish">
    <li>
      {{input value=title placeholder="Title"}}
    </li>
    <li>
      {{textarea value=link paceholder="link"}}
    </li>
    <li>
      {{textarea value=body placeholder="Body"}}
    </li>
    <li>
      {{#link-to 'posts'}}<button {{action "publishPost" }}>Publish</button>{{/link-to}}
    </li>
  </ul>

</div>

{{outlet}}
