<div class="jumbotron">
  <h3>Add A Movie</h3>
  {{input type="text" value=searchString action="getSearchData" placeholder="Search"}}

</div>

<div class="containter">

    {{#each model as |list|}}
        <h3 class="title">{{list.title}}</h3>
        <p class="date"> {{list.release_date}}</p>
        <p class='image'><img src="https://image.tmdb.org/t/p/w185/{{list.poster_path}}" alt=""></p>
        <p class='overview'>{{list.overview}}</p>
      {{#link-to 'posts'}}  <button {{action "pushMovie" list.id}}>Add Movie</button> {{/link-to}}

      <hr>
      {{else}}
        <li>No Results</li>
    {{/each}}


</div>

{{outlet}}
