<h2>Movie Idea</h2>

<section>
{{#each model as |post|}}
  <div>{{post.title}}</div>
  <div>{{post.link}}</div>
  <div>{{post.body}}</div>
  <div>{{post.vote}}</div>
  <button {{action "voteUp"}}>Vote</button>
  <hr>
{{/each}}
</section>
{{outlet}}
